* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  width: 10rem;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: black;
  border: 1px solid black;
  background-color: white;
}


h1 {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.message {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  color: #444;
}

.message .message-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  position: relative;
}

.message .message-heading::after {
  content: '';
  width: 90%;
  height: 0.1rem;
  background-color: #444;
  position: absolute;
  top: 1.8rem;
}

.message-heading p {
  margin: 0.5rem;
}

.message > p {
  margin: 1rem 0.5rem;
}

form {
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .input-box {
  width: 90%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form .input-box label {
  margin: 0.5rem 0;
}

form .input-box input {
  padding: 0.5rem;
}

form button {
  padding: 0.5rem;
  margin: 1rem auto;
  width: 80%;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.4s;
}

form button:hover {
  background-color: black;
  color: white;
  box-shadow: none;
}